/*----------------------------------------------------------RESET.CSS----------------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------------------BASE PARA TODAS AS PÁGINAS---------------------------------------------------*/

.caixa{	/*classe criada para a div que irá dividir o espaço entre a imagem e os links*/
	position: relative; /*usado para subir a posição da caixa para centralizar o conteudo*/
	width: 940px; /*largura da caixa - 940 é uma largura padrão*/
	margin: 0 auto; /*calculo de margem/espaçamento extern da caixa: cima e baixo, esqueda e direita*/
}

nav{ /*criado para mexer no estilo do grupo de links*/
	position: absolute; /*permite alterar o posicionamento original do texto*/
	top: 110px; 
	right: 0px;
}

nav li{
	display: inline; 	/*mudar o display para a mesma linha*/
	margin: 0 0 0 15px; 	/*espaçamento: cima direita baixo esquerda*/
}

nav a{
	text-transform: uppercase; 	/*transformar o texto para maiusculo*/
	color: #000000; 	/*mudar a cor do texto*/
	font-weight: bold;	 /*mudar fonte para negrito*/
	font-size: 22px; 	/*tamanho da fonte*/
	text-decoration: none; 	/*tirar a decoração padrão do text*/
	
}

nav a:hover{	/*comando para manipular as ações do usuario sobre algo na pagina*/
	color: #C78C19;
	text-decoration: underline;
}
footer{
	text-align: center; 
	background: url("images/bg.jpg"); /*colocar imagem de fundo*/
	padding: 40px 0;
}

.copyright{
	color: #ffffff;
	font-size: 13px;
	margin: 20px;
}

/*----------------------------------------------------------INDEX.HTML----------------------------------------------------------*/

.banner{
	width: 100%;
}

.titulo-principal{
	text-align: center;
	font-size: 2em; /*em significa que a fonte terá o dobro da fonte base*/
	margin: 0 0 1em;
	clear: left; /*usado para limpar o float criado para a imagem utensilios*/
}

.principal{
	padding: 3em 0;
	width: 940px;
	margin: 0 auto;
}

.principal p{
	margin: 0 0 1em;
	background: #fefefe;
	
}

.principal strong{
	font-weight: bold;
}

.principal em{
	font-style: italic;
}

.utensilios{
	width: 120px;
	float: left; /*usado pra fazer com que os textos fiquem em volta da imagem*/
	margin: 0 20px 20px 0; /*ordem dos valores de margem: cima direita baixo esquerda*/
}

.mapa{
	padding: 3em 0;
	background: linear-gradient(#fefefe, #888888);
}

.mapa p{
	margin: 0 0 2em;
	text-align: center;
}

.mapa-conteudo{
	width: 940px;
	margin: 0 auto;
	
}

.beneficios{
	padding: 2em;
	background: #888888;
}

.conteudo-beneficios{
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios{
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens{
	line-height: 1.5; /*altura da linha (espaçamento)*/
}

.itens:first-child{ /*pega o primeiro elemento irmão e transforma (pseudo classe)*/
	font-weight: bold;
}

.itens:before{ /*seleciona onde o elemento estará posicionado: no exemplo, antes de qualquer classe "itens"*/
	content: "★ ";
}

.imagem-beneficios {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000; /*adicionando somra a imagem (X, Y, inicio do efeito no fim da sombra, cor*/
}

.imagem-beneficios:hover { /*efeito da imagem ao passar do mouse*/
    opacity: 0.3; 
}

.video{
	width: 560px;
	margin: 2em auto;

}
body{
	font-family: 'Montserrat', sans-serif;
}

header{
	background: #BBBBBB; 	/*mudar a cor do fundo*/
	padding: 20px 0; /*espaçamento: cima e baixo, esquerda direita*/
}

/*----------------------------------------------------------PRODUTOS.HTML----------------------------------------------------------*/

.produtos{
	width: 940px;
	margin: 0 auto;
	padding: 50px 0; /*espaçamento interno:cima e baixo, esquerda e direita*/
}
.produtos li{
	display: inline-block;/*inline-block; ocupar o tamanho do conteudo um ao lado do outro - POR PADRÃO ELE SEMPRE ALINHA O TEXTO PELA LINHA DE BAIXO*/
	text-align: center;
	width: 30%; /*largura dos objetos*/
	vertical-align: top; /*alinha o texto pela linha de cima*/
	margin: 0 1.5%; /*espaçamento externo*/
	padding: 30px 20px; /*espaçamento interno*/
	box-sizing: border-box; /*faz com que o espaçamento interno fique dentro do externo*/
	border: solid 2px #000000; /*criando bordas*/
	border-radius: 10px;
}

.produtos li:hover{
	border-color: #C78C19; 
}

.produtos li:active{  /*mudar a cor no clik do mouse*/
	border-color: #088C19; 
}

.produtos li:hover h2{  /*mudar a cor do item de dentro ao passar o mouse*/
	font-size: 34px;
}

.produtos h2{
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao{
	font-size: 18px;
}

.produto-preco{
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}


/*----------------------------------------------------------CONTATO.HTML----------------------------------------------------------*/

form{ /*configurando o formulário*/
	margin: 40px 80px;
}

form label, legend{ /*configurando a label*/
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao{ /*configurando o input e textarea*/
	display: block;
	margin: 0 0 20px; /*espaçamento externo*/
	padding: 10px 25px; /*espaçamento interno*/
	width: 50%;
}

.checkbox{ /*configurando a classe checkbox*/
	margin: 20px 0;
}

form legend{
	font-weight: bold;
}

.enviar{
	width: 40%;
	padding: 15px 0;
	background-color: orange;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all; /*transição de cor do botão e de tudo dentro dele, por isso all*/
	cursor: pointer; /*transoformar o botão em mão de link*/
}

.enviar:hover{
	background-color: darkorange; /*cor que o botão ficará após o mouse estar por cima*/
	transform: scale(1.2); /*aumentar botão proporcionalmente de tamanho ao toque*/
}

table{
	margin: 20px 80px;
}

thead{
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th{
	border: 1px solid #000000;
	padding: 15px 8px;
}

#celulainteira{
	text-align: center;
	font-weight: bold;
}

 /*-------------------------------CONFIGURANDO A PÁGINA PARA FUNCIONAR RESPONSIVAMENTE-----------------------------*/
 
@media screen and (max-width: 768px) {
	.caixa  {
        width: auto;
	}
	
	.principal, .conteudo-beneficios, .mapa-conteudo, .video{
		width: auto;
		padding: 30px 21px;
		text-align: justify;
	}
	
	.mapa{
		padding: 20px 20px;
	}

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }

	.produtos  {
		width: auto;
		display: grid;	
	}
	
	.produtos li{
		width: 70%;
		align-items: center;
		text-align: center;
		margin: 10px auto;
	}

	form{
		margin: 20px;
		padding: 10px;
	}

	.input-padrao{
		width: 85%;
	}

	.enviar{
		width: 200px;
	}
}